<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Sense</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .nav-link{
            color: #000000;
        }
        .container {
            color: #000000;
        }
        .ccard {
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
         }
        .caard {
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>
<body style="background-color:white">
    <div class="container">
        <br>
        <h1 class="text-center text-black" style="background-color:white">Chic Sense</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index2">색상 바꾸기<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            메뉴
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/weather">날씨 확인</a>
                            <a class="dropdown-item" href="#">내 옷 인식</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="ccard">
        <div class="card" style="width: 18rem; background-color:black">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{ data_list[0][1] }}</h5>
                <p class="card-text text-white">{{ data_list[0][2]  }}</p>
                <a href="#" class="btn btn-primary text-body" style="border: none; background-color:white">자세히 보러가기</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; background-color:black">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{ data_list[1][1] }}</h5>
                <p class="card-text text-white">{{ data_list[1][2]  }}</p>
                <a href="#" class="btn btn-primary text-body" style="border: none; background-color:white">자세히 보러가기</a>
            </div>
        </div>
    </div>

    <div class="caard">

        <div class="card" style="width: 18rem; background-color:black">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{ data_list[2][1] }}</h5>
                <p class="card-text text-white">{{ data_list[2][2]  }}</p>
                <a href="#" class="btn btn-primary text-body" style="border: none; background-color:white">자세히 보러가기</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; background-color:black">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{ data_list[3][1] }}</h5>
                <p class="card-text text-white">{{ data_list[3][2]  }}</p>
                <a href="#" class="btn btn-primary text-body" style="border: none; background-color:white">자세히 보러가기</a>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <ul class="pagination justify-content-center">
            <li><a href = "#" style="margin-right:5px ;" class="text-secondary"> ← </a></li>
            <li><a href = "#" style="margin-right:5px ;" class="text-secondary"> 1 </a></li>
            <li><a href = "#" style="margin-right:5px ;" class="text-secondary"> → </a></li>
        </ul>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>