<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Sense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .container {
            color: #ffffff;
        }
        .ccard {
            display: flex;
            align-items: stretch; /* 카드의 높이를 최대로 늘립니다 */
            justify-content: center;
            text-align: center;
        }
        .card {
            width: 18rem;
            margin: 10px; /* 카드 사이의 간격을 늘립니다 */
            display: flex;
            flex-direction: column; /* 내부 내용을 위에서 아래로 정렬합니다 */
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const likeButtons = document.querySelectorAll('.like-button');
            likeButtons.forEach((button) => {
                button.addEventListener('click', function() {
                    toggleLikeState(button);
                });
            });
            
            function toggleLikeState(button) {
                const likeIcon = button.querySelector('.like-icon');
                if (likeIcon.textContent === '♡') {
                    likeIcon.textContent = '♥';
                } else {
                    likeIcon.textContent = '♡';
                }
            }
        });
    </script>
</head>
<body style="background-color:black">
    <div class="container">
        <br>
        <h1 class="text-center text-white" style="background-color:black">Chic Sense</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index1" >색상 바꾸기<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            메뉴
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/weather">날씨 확인</a>
                            <a class="dropdown-item" href="/cloth">내 옷 인식</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="ccard">
        <div class="card">
            <img src="/static/youngminwhite.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">검은색 셔츠</h5>
                <p class="card-text">8월 6일</p>
                <a href="#" class="btn btn-primary" style="border: none; background-color:black">자세히 보러가기</a>
                <button class="btn btn-secondary like-button" style="border: none;">
                    <span class="like-icon">♡</span>
                </button>
            </div>
        </div>
        
        <div class="card">
            <img src="/static/회색.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">회색 티셔츠</h5>
                <p class="card-text">8월 9일</p>
                <a href="#" class="btn btn-primary" style="border: none; background-color:black">자세히 보러가기</a>
                <button class="btn btn-secondary like-button" style="border: none;">
                    <span class="like-icon">♡</span>
                </button>
            </div>
        </div>
    </div>

    <div class="caard d-flex justify-content-center">
    <div class="card">
        <img src="/static/youngminakr.png" class="card-img-top">
        <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title text-center">도트 검은색 티셔츠</h5>
            <p class="card-text text-center">8월 9일</p>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a href="#" class="btn btn-primary" style="border: none; background-color:black">자세히 보러가기</a>
                <button class="btn btn-secondary like-button" style="border: none;">
                    <span class="like-icon">♡</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="/static/youjgn.png" class="card-img-top">
        <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title text-center">하얀색 티셔츠</h5>
            <p class="card-text text-center">8월 20일</p>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a href="#" class="btn btn-primary" style="border: none; background-color:black">자세히 보러가기</a>
                <button class="btn btn-secondary like-button" style="border: none;">
                    <span class="like-icon">♡</span>
                </button>
            </div>
        </div>
    </div>
</div>
      
    <hr>
    <div>
        <ul class="pagination justify-content-center">
            <li><a href = "#" style="margin-right:5px ;" class="text-secondary"> ← </a></li>
            <li><a href = "#" style="margin-right:5px ;" class="text-secondary"> 1 </a></li>
            <li><a href = "#" style="margin-right:5px ;" class="text-secondary"> → </a></li>
        </ul>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
